<section class="share">
    <h4>Share this post</h4>
    <a class="icon-share" href="http://twitter.com/share?text={{page.title}}&amp;url={{ page.url | absolute_url}}"
                                   onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">tw
        <span class="hidden">Twitter</span>
    </a> |
<a class="icon-share" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url}}"
                                   onclick="window.open(this.href, 'fb-share', 'width=580,height=296');return false;">fb
        <span class="hidden">Facebook</span>
    </a> |
<a class="icon-share" href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.url | absolute_url}}"
                                   onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;">in
        <span class="hidden">LinkedIn</span>
    </a>

</section>
